[[source]]
name = "pypi"
url = "https://pypi.douban.com/simple"
verify_ssl = true

[dev-packages]

[packages]
jupyter = "==1.0.0"
numpy = "==1.17.2"
sklearn = "==0.0"
pandas = "==0.25.1"

[requires]
python_version = "3.7"
